<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Style sheets - bootstrap basic plus app specific  -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="static/district.css">

        <!-- Scripts to include -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
        <script src="static/states.js"></script>
        <script src="static/bboxes.js"></script>
        <script src="static/district.js"></script>
        <title>{{ state }} {{ district }}</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Map</h2>
                    <iframe id="map" class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
src="https://www.govtrack.us/congress/members/embed/mapframe?&bounds=-147.198,52.552,-47.002,17.249"></iframe>
                </div>
            </div>

            {% for section in census_charts %}
                <div class="row">
                    <div class="col-lg-8">                   
                        <div class="section_name">{{ section[0] }}</div>
                    </div>
                </div>
                {% for chart in section[1] %}
                    <div class="row">
                        <div class="col-lg-8">           
                            <div class="chart_name">{{ chart[0] }}</div>
                            <div class="chart_description">{{ chart[1] }}</div>
                            <div class="chart_container"><canvas class="chart" id="{{ chart[2] }}"></canvas></div>
                            <div class="chart_annotation" id="{{ chart[2] }}_annotations">
                                {% for annotation in chart[3] %}
                                    {{ annotation }}<br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}


            <footer>
                <p>Created by <a href="mailto:jkeltner@gmail.com">Jeff Keltner</a>.</p>
            </footer>

        </div> <!-- CLOSE CONTAINER -->

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            $( document ).ready(function() {
                createCharts();
                reCenterMap(state="{{state}}", district="{{district}}");  
                updateCensusCharts(state=states["{{state}}"]["FIPS"], district="{{district}}");
            });
        </script>
    </body>
</html>
{% endautoescape %}